<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SPACETripp</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.min.css">
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
  </head>
  <body>
  <div id="top"></div>
  <header id="tripp_world">
    <div class="stars_iso"></div>
    <div class="asteroids"></div>
    <div class="tripp_figure"></div>
    <div class="planets_one"></div>
    <div class="tripp_logo"></div>
    <div class="space_lines"></div>
    <div class="planets_two"></div>
    <div class="asteroids2A"></div>
    <div class="asteroids2B"></div>
  </header>
  <section class="content">
    <article>
      <div id="profile"></div>
      <div class="section_title" id="profile_title"></div>
      <hr>
      <p class="section_nfo">Some would say that I am soft spoken and contemplative.
        I would say that I am thoughtful, inquisitive and deeply
        analytical . A creative with seven years of delivering
        design solutions with a breadth of training spanning
        architectural principles to web development. A personal
        philosophy revolving around the idea that curiosity,
        adaptability, continued learning and observation are
        vital to being an effective visual designer and a
        happy person.</p>
      <p class="section_nfo">I gravitate towards activities where my imagination
        is allowed to lead and discover new paths. An anime
        enthusiast, fairy-tale aficionado, I enjoy drawing,
        comics, classic chambara samurai films, architecture,
        and art in all its forms. I strive towards being an
        effective collaborator and seek to connect and pool
        skills with fellow like-minded tech creatives.
      </p>
      <p class="section_title_txt">Tools of the Trade</p>
      <div class="skills_section">
        <div class="skills_columns">
          <ul>
            <strong class="skills_title">Web Development</strong>
            <li>Ruby / Rails</li>
            <li>JavaScript / MEAN</li>
            <li>Python / Django</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>PostGres</li>
            <li>MongoDB</li>
            <li>MAMP</li>
          </ul>
        </div>
        <div class="skills_columns">
          <ul>
            <strong class="skills_title">Graphic Design</strong>
            <li>Adobe Illustrator</li>
            <li>Adobe Photoshop</li>
            <li>Adobe InDesign</li>
          </ul>
        </div>
        <div class="skills_columns">
          <ul>
            <strong class="skills_title">Illustration</strong>
            <li>Python / Django</li>
            <li>JavaScript / MEAN</li>
            <li>Ruby / Rails</li>
          </ul>
        </div>
      </div>
      <img src="images/space_lines3.png" class="divider_img">
      <div id="web_development_work"></div>
      <p class="section_title_txt">Web Development</p>
      <!-- <hr> -->
      <p class="section_nfo">
        This section highlights a few projects
        that are in various stages of development. The
        scope of which ranges between e-commerce, social media, and
        web game development. I must also state that these
        projects were part of a team effort in collaboration
        with some pretty cool folks.</p>
      <!-- <hr> -->
      <div class="gallery_images">
        <div class="site-navigation page-navigation">
          <div class="menu">
            <figure class="columns four"><a href="#byfn_comics" data-caption="Web Dev Project One"><img src="images/webdev_projects/project_thumbs/byfn_comics_title_thumb.png"></a>
            </figure>
            <figure class="columns four"><a href="#soapbox" data-caption="Web Dev Project One"><img src="images/webdev_projects/project_thumbs/soap_box_title_thumb.png"></a>
            </figure>
            <figure class="columns four"><a href="#operation_drebbel" data-caption="Web Dev Project One"><img src="images/webdev_projects/project_thumbs/operation_drebbel_title_thumb.png"></a>
          </figure>
          </div>
        </div>
        <img src="images/space_lines2.png" class="divider_img">
      </div>
      <div id="byfn_comics"></div>
      <div class="section_title" id="project1_title"></div>
      <!-- <hr> -->
      <p class="project_title_txt">BYF’n Comics - eCommerce Site for Comicbooks</p>
      <p><strong>~ Built with ~</strong></p>
      <p>Python, Django, JavaScript, Stripe, Html 5, CSS, and MAMP.</p>
      <p><strong>~ My resposibilities ~</strong></p>
      <p>Front-End layout(HTML5 / JS / Jinja), Page-styling(CSS) and image asset creation.</p>
      <p><strong>Still in Development</strong></p>
      <!-- <hr> -->
      <p class="screenshots_txt">Actual Project Screenshots</p>
      <div class="gallery_images">
        <figure class="columns four"><a href="images/ecomics_web/ecomics_landing_page_sim_rs2.gif" data-fancybox="web_dev" data-caption="eComics: Landing Page"><img src="images/ecomics_web/ecomics_thumbs/ecomics_lp_thumb.PNG"></a>
          <figcaption>eComics - <strong>Landing Page</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/ecomics_web/ecomics_products_main.jpg" data-fancybox="web_dev" data-caption="eComics: Main Products Showcase"><img src="images/ecomics_web/ecomics_thumbs/ecomics_products_main_thumb.PNG"></a>
          <figcaption>eComics - <strong>Products Main</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/ecomics_web/ecomics_product_spotlight.jpg" data-fancybox="web_dev" data-caption="eComics: Individual Product Showcase"><img src="images/ecomics_web/ecomics_thumbs/ecomics_product_spotlight_thumb.PNG"></a>
          <figcaption>eComics - <strong>Product Showcase</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/ecomics_web/ecomics_shopping_cart.jpg" data-fancybox="web_dev" data-caption="eComics: Shopping Cart"><img src="images/ecomics_web/ecomics_thumbs/ecomics_shopping_cart_thumb.PNG"></a>
          <figcaption>eComics - <strong>Shopping Cart</strong></figcaption>
        </figure>
        <img src="images/space_lines2.png" class="divider_img">
      </div>
      <div id="soapbox"></div>
      <div class="section_title" id="project2_title"></div>
      <!-- <hr> -->
      <p class="project_title_txt">Soap Box - Multi-Topic Discussion Website with Live Chat</p>
      <p><strong>~ Built with ~</strong></p>
      <p>JavaScript, Angular, Express, Node, Html 5, CSS, and MongoDB</p>
      <p><strong>~ My resposibilities ~</strong></p>
      <p>Server Controller code writing and debugging, WebPage layout (HTML5 & JS), Page-styling(CSS), Websocket utilization, and image asset creation.</p>
      <p><strong>Still in Development</strong></p>
      <!-- <hr> -->
      <p class="screenshots_txt">Actual Project Screenshots</p>
      <div class="gallery_images">
        <figure class="columns four"><a href="images/soapbox_web/soapbox_lp.PNG" data-fancybox="web_dev_soapbox" data-caption="SoapBox: Landing Page"><img src="images/soapbox_web/soapbox_thumbs/soapbox_lp_thumb.PNG"></a>
          <figcaption>SoapBox - <strong>Landing Page</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/soapbox_web/soapbox_register_page.PNG" data-fancybox="web_dev_soapbox" data-caption="SoapBox: User Registration Page"><img src="images/soapbox_web/soapbox_thumbs/soapbox_register_page_thumb.PNG"></a>
          <figcaption>SoapBox - <strong>Registration</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/soapbox_web/soapbox_user_page.PNG" data-fancybox="web_dev_soapbox" data-caption="SoapBox: User Dashboard"><img src="images/soapbox_web/soapbox_thumbs/soapbox_user_page_thumb.PNG"></a>
          <figcaption>SoapBox - <strong>Login</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/soapbox_web/soapbox_user_page2.PNG" data-fancybox="web_dev_soapbox" data-caption="SoapBox: User Dashboard with Live Chat Feature "><img src="images/soapbox_web/soapbox_thumbs/soapbox_user_page2_thumb.PNG"></a>
          <figcaption>SoapBox - <strong>User Dash</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/soapbox_web/soapbox_discussion_page.PNG" data-fancybox="web_dev_soapbox" data-caption="SoapBox: Discussion Page"><img src="images/soapbox_web/soapbox_thumbs/soapbox_discussion_page_thumb.PNG"></a>
          <figcaption>SoapBox - <strong>Discussion Page</strong></figcaption>
        </figure>
        <figure class="columns four"><a data-fancybox data-src="http://54.214.118.132" href="javascript:;" data-caption="SoapBox MEAN Project"><img src="images/soapbox_web/soapbox_thumbs/soapbox_lp_thumb.PNG"></a>
          <figcaption>SoapBox - <strong>Deployed Project</strong></figcaption>
        </figure>
        <img src="images/space_lines2.png" class="divider_img">
      </div>
      <div id="operation_drebbel"></div>
      <div class="section_title" id="project3_title"></div>
      <!-- <hr> -->
      <p class="project_title_txt">Operation Drebbel - Web Platform for a Gosu/Ruby Based Game</p>
      <p><strong>~ Built with ~</strong></p>
      <p>Ruby, Rails, JavaScript, Gosu (Game Dev), Html 5, CSS, and PostGres</p>
      <p><strong>~ My resposibilities ~</strong></p>
      <p>Login/Reg, Messaging Features, Model planning and utilization, Basic User Features, Admin Features, Page layout(HTML5 & JS), Page-styling(CSS), and image asset creation.</p>
      <p><strong>Still in Development</strong></p>
      <!-- <hr> -->
      <p class="screenshots_txt">Actual Project Screenshots</p>
      <div class="gallery_images">
        <figure class="columns four"><a href="images/drebbel_web/operation_drebbel_screen.jpg" data-fancybox="web_dev_drebbel" data-caption="Operation Drebbel: Concept Landing Page"><img src="images/drebbel_web/drebbel_thumbs/operation_drebbel_screen_thumb_mod.jpg"></a>
          <figcaption>Operation Drebbel - <strong>LP Concept</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/drebbel_web/operation_drebbel_lp_2.jpg" data-fancybox="web_dev_drebbel" data-caption="Operation Drebbel: Landing Page Actual"><img src="images/drebbel_web/drebbel_thumbs/operation_drebbel_lp_2_thumb.PNG"></a>
          <figcaption>Operation Drebbel - <strong>LP Actual</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/drebbel_web/operation_drebbel_register.jpg" data-fancybox="web_dev_drebbel" data-caption="Operation Drebbel: Registration Page"><img src="images/drebbel_web/drebbel_thumbs/operation_drebbel_register_thumb.PNG"></a>
          <figcaption>Operation Drebbel - <strong>Reg. Page</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/drebbel_web/operation_drebbel_login.jpg" data-fancybox="web_dev_drebbel" data-caption="Operation Drebbel: Login Page"><img src="images/drebbel_web/drebbel_thumbs/operation_drebbel_login_thumb.PNG"></a>
          <figcaption>Operation Drebbel - <strong>Login Page</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/drebbel_web/operation_drebbel_userdashboard.jpg" data-fancybox="web_dev_drebbel" data-caption="Operation Drebbel: User Dashboard Admin Version"><img src="images/drebbel_web/drebbel_thumbs/operation_drebbel_userdashboard_thumb.PNG"></a>
          <figcaption>Operation Drebbel - <strong>User Dash</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/drebbel_web/operation_drebbel_privatemessaging.jpg" data-fancybox="web_dev_drebbel" data-caption="Operation Drebbel: Private Messaging"><img src="images/drebbel_web/drebbel_thumbs/operation_drebbel_privatemessaging_thumb.PNG"></a>
          <figcaption>Operation Drebbel - <strong>Private Comms</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/drebbel_web/operation_drebbel_discussionboard.jpg" data-fancybox="web_dev_drebbel" data-caption="Operation Drebbel: Discussion Board"><img src="images/drebbel_web/drebbel_thumbs/operation_drebbel_discussionboard_thumb.PNG"></a>
          <figcaption>Operation Drebbel - <strong>Discussion Brd.</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/drebbel_web/operation_drebbel_discussion_topic_page.jpg" data-fancybox="web_dev_drebbel" data-caption="Operation Drebbel: Topic Showcase Page"><img src="images/drebbel_web/drebbel_thumbs/operation_drebbel_discussion_topic_page_thumb.PNG"></a>
          <figcaption>Operation Drebbel - <strong>Topic Showcase</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/drebbel_web/operation_drebbel_user_management.jpg" data-fancybox="web_dev_drebbel" data-caption="Operation Drebbel: Admin Feature - User Management, Admin level users can regulate regular user activity on the site from this page."><img src="images/drebbel_web/drebbel_thumbs/operation_drebbel_user_management_thumb.PNG"></a>
          <figcaption>Operation Drebbel - <strong>Admin Feature 1</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/drebbel_web/operation_drebbel_user_warning_page.jpg" data-fancybox="web_dev_drebbel" data-caption="Operation Drebbel: Admin Feature - Admin level users can issue warnings to regular users for prohibited activity."><img src="images/drebbel_web/drebbel_thumbs/operation_drebbel_user_warning_page_thumb.PNG"></a>
          <figcaption>Operation Drebbel - <strong>User Warnings</strong></figcaption>
        </figure>
        <img src="images/space_lines2.png" class="divider_img">
      </div>
      <div id="graphic_design_work"></div>
      <p class="section_title_txt">Graphic Design</p>
      <!-- <hr> -->
      <p class="section_nfo">
        Below find a selection of recent graphic design projects including:
        Logo Design, Page Layout, and Poster Illustration. Find more of my work at ~ <a href="https://cargocollective.com/TrippSanders" class="page_link">My Cargo Collective Page.</a>
      </p>
      <!-- <hr> -->
      <div class="gallery_images">
        <figure class="columns four"><a href="images/gd_images/The_Sosh_rs.png" data-fancybox="graphic_design" data-caption="The Social Serve - Logo design for community building company."><img src="images/gd_images/gd_thumbs/The_Sosh_thumb.png"></a>
          <figcaption>Social Serve - <strong>Logo Design</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/gd_images/RMS_BCard_Layout_rs.jpg" data-fancybox="graphic_design" data-caption="Reinvention Made Simple - Promo Card Design for a personal coaching company."><img src="images/gd_images/gd_thumbs/RMS_BCard_Layout_rs_thumb.png"></a>
          <figcaption>RMS - <strong>Logo Design</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/gd_images/AmaniKateeb_logo_t2.gif" data-fancybox="graphic_design" data-caption="Amani Kateeb - Logo designs for Amani Kateeb's company. check her out at: http://amani.world/"><img src="images/gd_images/gd_thumbs/AmaniKateeb_logo_thumb.png"></a>
          <figcaption>Amani Kateeb<strong></strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/gd_images/LA_USA_TOURS_project_anim.gif" data-fancybox="graphic_design" data-caption="LA USA Tours - Logo and Page Layout / Design services delivered in this project."><img src="images/gd_images/gd_thumbs/LA_TOURS_logo_thumb.png"></a>
          <figcaption>LA USA Tours - <strong>GD Services</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/gd_images/HCL_BCK_COVR.jpg" data-fancybox="graphic_design" data-caption="HubCity Live! - Back Cover Design for Finacial Deck for the HCL Project."><img src="images/gd_images/gd_thumbs/HCL_BCK_COVR_thumb.png"></a>
          <figcaption>HCL - <strong>Page Design</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/gd_images/HCL_poster_innovation_conf.jpg" data-fancybox="graphic_design" data-caption="HubCity Live! - Graphic for the HCL Innovation Conference"><img src="images/gd_images/gd_thumbs/HCL_poster_innovation_conf_thumb.png"></a>
          <figcaption>HCL - <strong>Poster Design</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/gd_images/HCL_Compton_Ready_Promo_rs.jpg" data-fancybox="graphic_design" data-caption="HubCity Live! - Graphic for the HCL 'Compton is Ready' campaign"><img src="images/gd_images/gd_thumbs/HCL_Compton_Ready_Promo_rs_thumb.png"></a>
          <figcaption>HCL - <strong>Poster Design</strong></figcaption>
        </figure>
        <img src="images/space_lines3.png" class="divider_img">
      </div>
      <div id="illustration_work"></div>
      <p class="section_title_txt">Illustration</p>
      <!-- <hr> -->
      <p class="section_nfo">
        The love of drawing has been with me a long time. There is something appealing about creating with a simple motion of the hand and
        drawing instrument that inspires me. Whether it is with a pencil, stylus, or a mouse, I like to draw.
      </p>
      <!-- <hr> -->
      <div class="gallery_images">
        <figure class="columns four"><a href="images/illio_images/Floating_Base.jpg" data-fancybox="illustration" data-caption="One of images that I produced with Illustrator...many moons ago."><img src="images/illio_images/illio_thumbs/Floating_Base_thumb.png"></a>
          <figcaption>Illustration - <strong>The Beginning</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/illio_images/scifi_landscape.jpg" data-fancybox="illustration" data-caption="StarHero - "><img src="images/illio_images/illio_thumbs/scifi_landscape_thumb.png"></a>
          <figcaption>StarHero - <strong>Concept Art</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/illio_images/StarHero_Starship.gif" data-fancybox="illustration" data-caption="StarHero - "><img src="images/illio_images/illio_thumbs/StarHero_Starship_color_thumb.png"></a>
          <figcaption>StarHero - <strong>Concept Art</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/illio_images/SciFiHero_robots_B.jpg" data-fancybox="illustration" data-caption="StarHero - "><img src="images/illio_images/illio_thumbs/SciFiHero_robots_B_thumb.png"></a>
          <figcaption>StarHero - <strong>Concept Art</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/illio_images/SciFiHero_robots_A_alt.jpg" data-fancybox="illustration" data-caption="StarHero - "><img src="images/illio_images/illio_thumbs/SciFiHero_robots_A_alt_thumb.png"></a>
          <figcaption>StarHero - <strong>Concept Art</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/illio_images/the_atlantean_rs.jpg" data-fancybox="illustration" data-caption="The Atlantean - "><img src="images/illio_images/illio_thumbs/the_atlantean_rs_thumb.png"></a>
          <figcaption>The Atlantean <strong></strong></figcaption>
        </figure>
        <img src="images/space_lines2.png">
      </div>
      <div id="creative_explorations"></div>
      <p class="section_title_txt">Creative Explorations</p>
      <!-- <hr> -->
      <p class="section_nfo">
        When time permits, I like to create with no aim in mind.Sometimes, fun and wonderful
        ideas grow from these explorations. Here are a few works still in progress.
        These Videos are very short, at most 1.5 minutes in length.
      </p>
      <!-- <hr> -->
      <div class="gallery_images">
        <figure class="columns four"><a href="https://www.youtube.com/watch?v=tzmJC6PsqYE" data-fancybox="creative_explorations" data-caption="After Effects Exploration: Playing around with a story idea centering around a kid with their grandparent, hiding out on a desolate planet."><img src="images/creative_explorations/c_exp_thumbs/starhero_thumb.png"></a>
          <figcaption>StarHero - <strong>AE Exploration</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="https://www.youtube.com/watch?v=9sDCFyeX3U0" data-fancybox="creative_explorations" data-caption="After Effects Exploration: Inspired by the works of a particular anime master, I crafted this little scene."><img src="images/creative_explorations/c_exp_thumbs/castor_thumb.png"></a>
          <figcaption>Castor - <strong>AE Exploration</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="https://www.youtube.com/watch?v=D8AnbkEBdzU" data-fancybox="creative_explorations" data-caption="After Effects Exploration: Remembering a time when I believe in mystical forest creatures...been watching a lot of 'The Dark Crystal' lately."><img src="images/creative_explorations/c_exp_thumbs/nim_thumb.png"></a>
        <figcaption>Nim - <strong>AE Exploration</strong></figcaption>
        </figure>
        <img src="images/space_lines2.png">
      </div>
    </article>
    <div id="parallax_port_2">
      <div class="layer" data-depth="0.00"><img src="images/viewport_parallax_2/vplax2_layer_0.png" alt="star_field" id="vp2_star_field"></div>
      <div class="layer" data-depth="0.025"><img src="images/viewport_parallax_2/vplax2_layer_point5.png" alt="star_field" id="vp2_star"></div>
      <div class="layer" data-depth="0.05"><img src="images/viewport_parallax_2/vplax2_layer_1.png" alt="small planet" id="vp2_planet1"></div>
      <div class="layer" data-depth="0.05"><img src="images/viewport_parallax_2/vplax2_layer_1b.png" alt="asteriods set 1" id="vp2_asteroids1"></div>
      <div class="layer" data-depth="0.20"><img src="images/viewport_parallax_2/vplax2_layer_2.png" alt="medium planet" id="vp2_planet2"></div>
      <div class="layer" data-depth="0.25"><img src="images/viewport_parallax_2/vplax2_layer_2b.png" alt="asteriods set 2" id="vp2_asteroids2"></div>
      <div class="layer" data-depth="0.30"><img src="images/viewport_parallax_2/vplax2_layer_3.png" alt="large planet" id="vp2_planet3"></div>
      <div class="layer" data-depth="0.40"><img src="images/viewport_parallax_2/vplax2_layer_3a.png" alt="asteriods set 3" id="vp2_asteroids3"></div>
      <div class="layer" data-depth=".50"><img src="images/viewport_parallax_2/vplax2_layer_3b.png" alt="spaceship 1" id="spaceship1"></div>
      <div class="layer" data-depth=".70"><img src="images/viewport_parallax_2/vplax2_layer_3c.png" alt="spaceship 2" id="spaceship2"></div>
      <div class="layer" data-depth="1"><img src="images/viewport_parallax_2/vplax2_layer_4.png" alt="spaceship 3" id="spaceship3"></div>
      <div class="layer" data-depth="0.00"><img src="images/viewport_parallax_2/vplax2_layer_5.png" alt="control display" id="control_display"></div>
    </div>
  <footer>
    <div class="footer_content">
      <div id="contact"></div>
      <div id="parallax_port">
        <div class="layer" data-depth="0.00"><img src="images/viewport_parallax/viewport_layer_0.png" alt="star_field" id="star_field"></div>
        <div class="layer" data-depth="0.05"><img src="images/viewport_parallax/viewport_layer_1.png" alt="star" id="star"></div>
        <div class="layer" data-depth="0.20"><img src="images/viewport_parallax/viewport_layer_2.png" alt="moon_1" id="moon_1"></div>
        <div class="layer" data-depth="0.30"><img src="images/viewport_parallax/viewport_layer_3.png" alt="planet" id="planet"></div>
        <div class="layer" data-depth="0.70"><img src="images/viewport_parallax/viewport_layer_3C.png" alt="planet" id="in_view_asteroids"></div>
        <div class="layer" data-depth="0.90"><img src="images/viewport_parallax/viewport_layer_4.png" alt="moon_2" id="moon_2"></div>
        <div class="layer" data-depth="1"><img src="images/viewport_parallax/viewport_layer_3C2.png" alt="planet" id="in_view_asteroids2"></div>
        <div class="layer" data-depth="0.00"><img src="images/viewport_parallax/viewport_layer_5.png" alt="spaceship_port_window" id="port_window" style="width: 150%;"></div>
      </div>
      <div class="footer_columns" id="footer_column1">
        <ul>
          <strong>CONTACT ME</strong>
          <li><a href="mailto:jas.sandmaster@gmail.com" class="info_link">jas.sandmaster@gmail.com</a></li>
          <br>
          <strong>ADDITIONAL NFO</strong>
          <li><a href="images/contact_images/JamesSanders_Resume_Web.jpg" data-fancybox="my_resume" data-caption="Current Resume">View Resume</a></li>
          <li><a href="images/contact_images/JamesSanders_Resume_Web.jpg"  data-caption="Current Resume">(right-click to download)</a></li>
        </ul>
      </div>
      <div class="footer_columns" id="footer_column2">
        <ul>
          <strong>FIND ME ON</strong>
          <li><a href="https://www.linkedin.com/in/jim-sanders-10739495">Linkedin</a></li>
          <li><a href="https://github.com/jas112">GitHub</a></li>
          <li><a href="https://cargocollective.com/TrippSanders">Cargo Collective</a></li>
        </ul>
      </div>
      <div class="tripp_logo_outline"></div>
    </div>
  </footer>
</section>
<div class="asteroids3"></div>
  <nav class="site-navigation page-navigation">
    <div id="navigation" class="menu">
      <li><strong class="navbar_title">NAV~BAR</strong></li>
      <li ><a href="#top" id="nlink_1">&#9737;</a><span class="link_caption" id="lcap_1">TOP</span></li>
      <li ><a href="#profile" id="nlink_2">&#9737;</a><span class="link_caption" id="lcap_2">ABOUT</span></li>
      <li ><a href="#web_development_work" id="nlink_3">&#9737;</a><span class="link_caption" id="lcap_3">WEB DEVELOPMENT</span></li>
      <li ><a href="#graphic_design_work" id="nlink_4">&#9737;</a><span class="link_caption" id="lcap_4">GRAPHIC DESIGN</span></li>
      <li ><a href="#illustration_work" id="nlink_5">&#9737;</a><span class="link_caption" id="lcap_5">ILLUSTRATION</span></li>
      <li ><a href="#creative_explorations" id="nlink_6">&#9737;</a><span class="link_caption" id="lcap_6">CREATIVE EXPLORATIONS</span></li>
      <li ><a href="#contact" id="nlink_7">&#9737;</a><span class="link_caption" id="lcap_7">CONTACT</span></li>
    </div>
  </nav>
  <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
  <script type ="text/javascript" src="js/parallax_functions.js"></script>
  <script type="text/javascript" src="js/jquery.combinedScroll.js"></script>
  <script type ="text/javascript" src="js/parallax.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
    <!-- FancyBox -->
  <script type ="text/javascript">
    $(document).ready(function(){
      $('.fancybox').fancybox({
        'titlePosition'		: 'outside',
        'overlayColor'		: '#000',
        'overlayOpacity'	: 0.9
      });
      $('.page-navigation').onePageNav();
      $('[data-fancybox]').fancybox({
        image : {
          protect: true
        }
      });
    });
  </script>
  <script type="text/javascript">
    var scene = $('#parallax_port').get(0)
    var parallax = new Parallax(scene)
    var scene2 = $('#parallax_port_2').get(0)
    var parallax2 = new Parallax(scene2)
  </script>
  </body>
</html>
