<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SPACE&#9733;TRIPP</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.min.css">
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
    <link rel="shortcut icon" href="images/spacetripp_favicon.ico" type="image/x-icon" />
  </head>
  <body>
  <div id="section_top"></div>
  <header id="tripp_world">
    <div class="parallaxFrame">
      <img src="images/star_field1C.png" alt="star_Field1" class="frameImage" id="starField1">
    </div>
    <div class="parallaxFrame">
      <img src="images/tripp_figure_compLrgRStest2.png" alt="tripp_Figure" class="frameImage" id="trippFigure">
    </div>
    <div class="parallaxFrame">
      <img src="images/star.png" alt="star" class="frameImage" id="star">
    </div>    
    <div class="parallaxFrame">
      <img src="images/planets_0C.png" alt="planets_G0" class="frameImage" id="planetsG0">
    </div>    
    <div class="parallaxFrame">
      <img src="images/planets_1D.png" alt="planets_G1" class="frameImage" id="planetsG1">
    </div>
    <div class="parallaxFrame">
      <img src="images/trippLogoRevisedRRes4.png" alt="tripp_Logo" class="frameImage" id="trippLogo">
    </div>
    <div class="parallaxFrame">
      <img src="images/space_lines.png" alt="space_Lines" class="frameImage" id="spaceLines">
    </div>
    <div class="parallaxFrame">
      <img src="images/planets_2D.png" alt="planets_G2" class="frameImage" id="planetsG2">
    </div>
  </header>
  <section class="content">
    <article>
      <div id="section_profile"></div>
      <div class="section_title" id="profile_title"></div>
      <hr>
      <p class="section_nfo">Some would say that I am soft spoken and contemplative.
        I would say that I am thoughtful, inquisitive and deeply
        analytical . A creative with seven years of delivering
        design solutions with a breadth of training spanning
        architectural principles to web development. A personal
        philosophy revolving around the idea that curiosity,
        adaptability, continued learning and observation are
        vital to being an effective visual designer and a
        happy person.</p>
      <p class="section_nfo">I gravitate towards activities where my imagination
        is allowed to lead and discover new paths. An anime
        enthusiast, fairy-tale aficionado, I enjoy drawing,
        comics, classic chambara samurai films, architecture,
        and art in all its forms. I strive towards being an
        effective collaborator and seek to connect and pool
        skills with fellow like-minded tech creatives.
      </p>
      <p class="section_title_txt">Tools of the Trade</p>
      <div class="skills_section">
        <div class="skills_columns">
          <ul>
            <strong class="skills_title">Web Development</strong>
            <li>Ruby / Rails</li>
            <li>JavaScript / MEAN</li>
            <li>Python / Django</li>
            <li>Java / Spring Boot
            <li>HTML5</li>
            <li>CSS3</li>
            <li>PostGres</li>
            <li>MongoDB</li>
            <li>MAMP</li>
          </ul>
        </div>
        <div class="skills_columns">
          <ul>
            <strong class="skills_title">Graphic Design</strong>
            <li>Adobe Illustrator</li>
            <li>Adobe Photoshop</li>
            <li>Adobe InDesign</li>
          </ul>
        </div>
        <div class="skills_columns">
          <ul>
            <strong class="skills_title">Illustration</strong>
            <li>Pencil / Pen</li>
            <li>Mouse / Stylus</li>
            <li>Paper / Tablet</li>
          </ul>
        </div>
      </div>
      <img src="images/space_lines3.png" class="divider_img">
      <div id="section_web_development_work"></div>
      <p class="section_title_txt">Web Development</p>
      <!-- <hr> -->
      <p class="section_nfo">
        This section highlights a few projects
        that are in various stages of development. The
        scope of which ranges between e-commerce, social media, and
        web game development. I must also state that these
        projects were part of a team effort in collaboration
        with some pretty cool folks.</p>
      <!-- <hr> -->
      <div class="gallery_images">
        <div class="site-navigation page-navigation">
          <div class="menu">
            <figure class="columns four">
              <a href="#section_byfn_comics" data-caption="Web Dev Project One" onclick="$('#section_byfn_comics').animatescroll({scrollSpeed:2000,easing:'easeOutQuint'});">
                <img src="images/webdev_projects/project_thumbs/byfn_comics_title_thumb.png">
              </a>
            </figure>
            <figure class="columns four">
              <a href="#section_soapbox" data-caption="Web Dev Project Two" onclick="$('#section_soapbox').animatescroll({scrollSpeed:2000,easing:'easeOutQuint'});">
                <img src="images/webdev_projects/project_thumbs/soap_box_title_thumb.png">
              </a>
            </figure>
            <figure class="columns four">
              <a href="#section_operation_drebbel" data-caption="Web Dev Project Three" onclick="$('#section_operation_drebbel').animatescroll({scrollSpeed:2000,easing:'easeOutQuint'});">
                <img src="images/webdev_projects/project_thumbs/operation_drebbel_title_thumb.png">
              </a>
            </figure>
            <figure class="columns four">
              <a href="#section_blackbacklight" data-caption="Web Dev Project Four" onclick="$('#section_blackbacklight').animatescroll({scrollSpeed:2000,easing:'easeOutQuint'});">
                <img src="images/webdev_projects/project_thumbs/blackbacklight_title_thumb.png">
              </a>
            </figure>
            <figure class="columns four">
              <a href="#section_algo_app" data-caption="Web Dev Project Five" onclick="$('#section_algo_app').animatescroll({scrollSpeed:2000,easing:'easeOutQuint'});">
                <img src="images/webdev_projects/project_thumbs/algo_app_title_thumb.png">
              </a>
            </figure>
          </div>
        </div>
        <img src="images/space_lines2.png" class="divider_img">
      </div>
      <div id="section_byfn_comics"></div>
      <div class="section_title" id="project1_title"></div>
      <!-- <hr> -->
      <p class="project_title_txt">BYF’n Comics - eCommerce Site for Comicbooks</p>
      <p><strong>&#9733; Built with &#9733;</strong></p>
      <p>Python, Django, JavaScript, Stripe, Html 5, CSS, and MAMP.</p>
      <p><strong>&#9733; My responsibilities &#9733;</strong></p>
      <p>Front-End layout(HTML5 / JS / Jinja), Page-styling(CSS) and image asset creation.</p>
      <p><strong>Still in Development</strong></p>
      <!-- <hr> -->
      <p class="screenshots_txt">Actual Project Screenshots</p>
      <div class="gallery_images">
        <figure class="columns four">
          <a href="images/ecomics_web/ecomics_landing_page_sim_rs2.gif" data-fancybox="web_dev" data-caption="eComics: Landing Page">
            <img src="images/ecomics_web/ecomics_thumbs/ecomics_lp_thumb.PNG">
          </a>
          <figcaption>eComics - <strong>Landing Page</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/ecomics_web/ecomics_products_main.jpg" data-fancybox="web_dev" data-caption="eComics: Main Products Showcase">
            <img src="images/ecomics_web/ecomics_thumbs/ecomics_products_main_thumb.PNG">
          </a>
          <figcaption>eComics - <strong>Products Main</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/ecomics_web/ecomics_product_spotlight.jpg" data-fancybox="web_dev" data-caption="eComics: Individual Product Showcase">
          <img src="images/ecomics_web/ecomics_thumbs/ecomics_product_spotlight_thumb.PNG">
        </a>
          <figcaption>eComics - <strong>Product Showcase</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/ecomics_web/ecomics_shopping_cart.jpg" data-fancybox="web_dev" data-caption="eComics: Shopping Cart">
          <img src="images/ecomics_web/ecomics_thumbs/ecomics_shopping_cart_thumb.PNG">
        </a>
          <figcaption>eComics - <strong>Shopping Cart</strong></figcaption>
        </figure>
        <img src="images/space_lines2.png" class="divider_img">
      </div>
      <div id="section_soapbox"></div>
      <div class="section_title" id="project2_title"></div>
      <!-- <hr> -->
      <p class="project_title_txt">Soap Box - Multi-Topic Discussion Website with Live Chat</p>
      <p><strong>&#9733; Built with &#9733;</strong></p>
      <p>JavaScript, Angular, Express, Node, Html 5, CSS, and MongoDB</p>
      <p><strong>&#9733; My responsibilities &#9733;</strong></p>
      <p>Server Controller code writing and debugging, WebPage layout (HTML5 & JS), Page-styling(CSS), Websocket utilization, and image asset creation.</p>
      <p><strong>Still in Development</strong></p>
      <!-- <hr> -->
      <p class="screenshots_txt">Actual Project Screenshots</p>
      <div class="gallery_images">
        <figure class="columns four">
          <a href="images/soapbox_web/soapbox_lp.PNG" data-fancybox="web_dev_soapbox" data-caption="SoapBox: Landing Page">
            <img src="images/soapbox_web/soapbox_thumbs/soapbox_lp_thumb.PNG">
          </a>
          <figcaption>SoapBox - <strong>Landing Page</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/soapbox_web/soapbox_register_page.PNG" data-fancybox="web_dev_soapbox" data-caption="SoapBox: User Registration Page">
            <img src="images/soapbox_web/soapbox_thumbs/soapbox_register_page_thumb.PNG">
          </a>
          <figcaption>SoapBox - <strong>Registration</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/soapbox_web/soapbox_user_page.PNG" data-fancybox="web_dev_soapbox" data-caption="SoapBox: User Dashboard">
            <img src="images/soapbox_web/soapbox_thumbs/soapbox_user_page_thumb.PNG">
          </a>
          <figcaption>SoapBox - <strong>Login</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/soapbox_web/soapbox_user_page2.PNG" data-fancybox="web_dev_soapbox" data-caption="SoapBox: User Dashboard with Live Chat Feature ">
            <img src="images/soapbox_web/soapbox_thumbs/soapbox_user_page2_thumb.PNG">
          </a>
          <figcaption>SoapBox - <strong>User Dash</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/soapbox_web/soapbox_discussion_page.PNG" data-fancybox="web_dev_soapbox" data-caption="SoapBox: Discussion Page">
            <img src="images/soapbox_web/soapbox_thumbs/soapbox_discussion_page_thumb.PNG">
          </a>
          <figcaption>SoapBox - <strong>Discussion Page</strong></figcaption>
        </figure>
        <figure class="columns four"><a data-fancybox data-src="http://54.214.118.132" href="javascript:;" data-caption="SoapBox MEAN Project">
          <img src="images/soapbox_web/soapbox_thumbs/soapbox_lp_thumb.PNG">
        </a>
          <figcaption>SoapBox - <strong>Deployed Project</strong></figcaption>
        </figure>
        <img src="images/space_lines2.png" class="divider_img">
      </div>
      <div id="section_operation_drebbel"></div>
      <div class="section_title" id="project3_title"></div>
      <!-- <hr> -->
      <p class="project_title_txt">Operation Drebbel - Web Platform for a Gosu/Ruby Based Game</p>
      <p><strong>&#9733; Built with &#9733;</strong></p>
      <p>Ruby, Rails, JavaScript, Gosu (Game Dev), Html 5, CSS, and PostGres</p>
      <p><strong>&#9733; My responsibilities &#9733;</strong></p>
      <p>Login/Reg, Messaging Features, Model planning and utilization, Basic User Features, Admin Features, Page layout(HTML5 & JS), Page-styling(CSS), and image asset creation.</p>
      <p><strong>Still in Development</strong></p>
      <!-- <hr> -->
      <p class="screenshots_txt">Actual Project Screenshots</p>
      <div class="gallery_images">
        <figure class="columns four">
          <a href="images/drebbel_web/operation_drebbel_screen.jpg" data-fancybox="web_dev_drebbel" data-caption="Operation Drebbel: Concept Landing Page">
            <img src="images/drebbel_web/drebbel_thumbs/operation_drebbel_screen_thumb_mod.jpg">
          </a>
          <figcaption>Operation Drebbel - <strong>LP Concept</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/drebbel_web/operation_drebbel_lp_2.jpg" data-fancybox="web_dev_drebbel" data-caption="Operation Drebbel: Landing Page Actual">
            <img src="images/drebbel_web/drebbel_thumbs/operation_drebbel_lp_2_thumb.PNG">
          </a>
          <figcaption>Operation Drebbel - <strong>LP Actual</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/drebbel_web/operation_drebbel_register.jpg" data-fancybox="web_dev_drebbel" data-caption="Operation Drebbel: Registration Page">
            <img src="images/drebbel_web/drebbel_thumbs/operation_drebbel_register_thumb.PNG">
          </a>
          <figcaption>Operation Drebbel - <strong>Reg. Page</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/drebbel_web/operation_drebbel_login.jpg" data-fancybox="web_dev_drebbel" data-caption="Operation Drebbel: Login Page">
            <img src="images/drebbel_web/drebbel_thumbs/operation_drebbel_login_thumb.PNG">
          </a>
          <figcaption>Operation Drebbel - <strong>Login Page</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/drebbel_web/operation_drebbel_userdashboard.jpg" data-fancybox="web_dev_drebbel" data-caption="Operation Drebbel: User Dashboard Admin Version">
            <img src="images/drebbel_web/drebbel_thumbs/operation_drebbel_userdashboard_thumb.PNG">
          </a>
          <figcaption>Operation Drebbel - <strong>User Dash</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/drebbel_web/operation_drebbel_privatemessaging.jpg" data-fancybox="web_dev_drebbel" data-caption="Operation Drebbel: Private Messaging">
            <img src="images/drebbel_web/drebbel_thumbs/operation_drebbel_privatemessaging_thumb.PNG">
          </a>
          <figcaption>Operation Drebbel - <strong>Private Comms</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/drebbel_web/operation_drebbel_discussionboard.jpg" data-fancybox="web_dev_drebbel" data-caption="Operation Drebbel: Discussion Board">
            <img src="images/drebbel_web/drebbel_thumbs/operation_drebbel_discussionboard_thumb.PNG">
          </a>
          <figcaption>Operation Drebbel - <strong>Discussion Brd.</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/drebbel_web/operation_drebbel_discussion_topic_page.jpg" data-fancybox="web_dev_drebbel" data-caption="Operation Drebbel: Topic Showcase Page">
            <img src="images/drebbel_web/drebbel_thumbs/operation_drebbel_discussion_topic_page_thumb.PNG">
          </a>
          <figcaption>Operation Drebbel - <strong>Topic Showcase</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/drebbel_web/operation_drebbel_user_management.jpg" data-fancybox="web_dev_drebbel" data-caption="Operation Drebbel: Admin Feature - User Management, Admin level users can regulate regular user activity on the site from this page.">
            <img src="images/drebbel_web/drebbel_thumbs/operation_drebbel_user_management_thumb.PNG">
          </a>
          <figcaption>Operation Drebbel - <strong>Admin Feature 1</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/drebbel_web/operation_drebbel_user_warning_page.jpg" data-fancybox="web_dev_drebbel" data-caption="Operation Drebbel: Admin Feature - Admin level users can issue warnings to regular users for prohibited activity.">
            <img src="images/drebbel_web/drebbel_thumbs/operation_drebbel_user_warning_page_thumb.PNG">
          </a>
          <figcaption>Operation Drebbel - <strong>User Warnings</strong></figcaption>
        </figure>
        <img src="images/space_lines2.png" class="divider_img">
      </div>
      <div id="section_blackbacklight"></div>
      <div class="section_title" id="project4_title"></div>
      <!-- <hr> -->
      <p class="project_title_txt">BlackBackLight - Experimental Website</p>
      <p><strong>&#9733; Built with &#9733;</strong></p>
      <p>JavaScript, Jquery, Html 5, CSS</p>
      <p><strong>&#9733; My responsibilities &#9733;</strong></p>
      <p>jQuery Implementation, Page layout(HTML5 & JS), Page-styling(CSS), and image asset creation.</p>
      <p><strong>Still in Development</strong></p>
      <p><strong>Click the Smiley Face to visit Experiment Page:</strong></p>
      <a href="http://www.blackbacklight.com/"><img src="images/blackbacklight_web/f1RS.png" alt="SmilelyFace" id="project4SMFace"></a>
      <!-- <hr> -->
      <p class="screenshots_txt">Actual Project Screenshots</p>
      <div class="gallery_images">
        <figure class="columns four">
          <a href="images/blackbacklight_web/blackbacklight1.png" data-fancybox="web_dev_blackbacklight" data-caption="BlackBackLight: Black Landing Page">
            <img src="images/blackbacklight_web/blackbacklight_thumbs/blackbacklight1_thumb.png">
          </a>
          <figcaption>BlackBackLight - <strong>Black 1</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/blackbacklight_web/blackbacklight2.png" data-fancybox="web_dev_blackbacklight" data-caption="BlackBackLight: Black Sleeping Page">
            <img src="images/blackbacklight_web/blackbacklight_thumbs/blackbacklight2_thumb.png">
          </a>
          <figcaption>BlackBackLight - <strong>Black 2</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/blackbacklight_web/blackbacklightRed1.png" data-fancybox="web_dev_blackbacklight" data-caption="BlackBackLight: Red Landing Page">
            <img src="images/blackbacklight_web/blackbacklight_thumbs/blackbacklightRed1_thumb.png">
          </a>
          <figcaption>BlackBackLight - <strong>Red 1</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/blackbacklight_web/blackbacklightRed2.png" data-fancybox="web_dev_blackbacklight" data-caption="BlackBackLight: Red Sleeping Page">
            <img src="images/blackbacklight_web/blackbacklight_thumbs/blackbacklightRed2_thumb.png">
          </a>
          <figcaption>BlackBackLight - <strong>Red 2</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/blackbacklight_web/blackbacklightGreen1.png" data-fancybox="web_dev_blackbacklight" data-caption="BlackBackLight: Green Landing Page">
            <img src="images/blackbacklight_web/blackbacklight_thumbs/blackbacklightGreen1_thumb.png">
          </a>
          <figcaption>BlackBackLight - <strong>Green 1</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/blackbacklight_web/blackbacklightGreen2.png" data-fancybox="web_dev_blackbacklight" data-caption="BlackBackLight: Green Sleeping Page">
            <img src="images/blackbacklight_web/blackbacklight_thumbs/blackbacklightGreen2_thumb.png">
          </a>
          <figcaption>BlackBackLight - <strong>Green 2</strong></figcaption>
        </figure>
        <img src="images/space_lines2.png" class="divider_img">
      </div>
      <div id="section_algo_app"></div>
      <div class="section_title" id="project5_title"></div>
      <!-- <hr> -->
      <p class="project_title_txt">Algo App - Early Build Algorithm Challenge Site</p>
      <p><strong>&#9733; Built with &#9733;</strong></p>
      <p>Python, Django, JavaScript, Jquery, Html 5, CSS</p>
      <p><strong>&#9733; My responsibilities &#9733;</strong></p>
      <p>jQuery Implementation, Page layout(HTML5 & JS), Page-styling(CSS), and image asset creation.</p>
      <p><strong>Still in Development</strong></p>
      <!-- <hr> -->
      <p class="screenshots_txt">Actual Project Screenshots</p>
      <div class="gallery_images">
        <figure class="columns four">
          <a href="images/algo_app_web/algo_app_1.png" data-fancybox="web_dev_drebbel" data-caption="Algo App: Entrance Page">
            <img src="images/algo_app_web/algo_app_thumbs/algo_app_1_thumb.png">
          </a>
          <figcaption>Algo App - <strong>Entrance</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/algo_app_web/algo_app_login.png" data-fancybox="web_dev_drebbel" data-caption="Algo App: Login Feature">
            <img src="images/algo_app_web/algo_app_thumbs/algo_app_login_thumb.png">
          </a>
          <figcaption>Algo App - <strong>Login</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/algo_app_web/algo_app_register.png" data-fancybox="web_dev_drebbel" data-caption="Algo App: Register Feature">
            <img src="images/algo_app_web/algo_app_thumbs/algo_app_register_thumb.png">
          </a>
          <figcaption>Algo App - <strong>Register</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/algo_app_web/algo_app_visitor_dash.png" data-fancybox="web_dev_drebbel" data-caption="Algo App: Guest User Page">
            <img src="images/algo_app_web/algo_app_thumbs/algo_app_visitor_dash_thumb.png">
          </a>
          <figcaption>Algo App - <strong>Visitor Page</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/algo_app_web/algo_app_member_dash.png" data-fancybox="web_dev_drebbel" data-caption="Algo App: Member User Page">
            <img src="images/algo_app_web/algo_app_thumbs/algo_app_member_dash_thumb.png">
          </a>
          <figcaption>Algo App - <strong>Memeber Page</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/algo_app_web/algo_app_admin_dash.png" data-fancybox="web_dev_drebbel" data-caption="Algo App: Admin User Page">
            <img src="images/algo_app_web/algo_app_thumbs/algo_app_admin_dash_thumb.png">
          </a>
          <figcaption>Algo App - <strong>Admin Page</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/algo_app_web/algo_app_admin_tools.png" data-fancybox="web_dev_drebbel" data-caption="Algo App: Admin User Tools">
            <img src="images/algo_app_web/algo_app_thumbs/algo_app_admin_tools_thumb.png">
          </a>
          <figcaption>Algo App - <strong>Admin Tools</strong></figcaption>
        </figure>
        <img src="images/space_lines2.png" class="divider_img">
      </div>
      <div id="section_graphic_design_work"></div>
      <p class="section_title_txt">Graphic Design</p>
      <!-- <hr> -->
      <p class="section_nfo">
        Below find a selection of recent graphic design projects including:
        Logo Design, Page Layout, and Poster Illustration. Find more of my work at ~ <a href="https://cargocollective.com/TrippSanders" class="page_link">My Cargo Collective Page.</a>
      </p>
      <!-- <hr> -->
      <div class="gallery_images">
        <figure class="columns four"><a href="images/gd_images/The_Sosh_rs.png" data-fancybox="graphic_design" data-caption="The Social Serve - Logo design for community building company."><img src="images/gd_images/gd_thumbs/The_Sosh_thumb.png"></a>
          <figcaption>Social Serve - <strong>Logo Design</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/gd_images/RMS_BCard_Layout_rs.jpg" data-fancybox="graphic_design" data-caption="Reinvention Made Simple - Promo Card Design for a personal coaching company."><img src="images/gd_images/gd_thumbs/RMS_BCard_Layout_rs_thumb.png"></a>
          <figcaption>RMS - <strong>Logo Design</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/gd_images/AmaniKateeb_logo_t2.gif" data-fancybox="graphic_design" data-caption="Amani Kateeb - Logo designs for Amani Kateeb's company. check her out at: http://amani.world/"><img src="images/gd_images/gd_thumbs/AmaniKateeb_logo_thumb.png"></a>
          <figcaption>Amani Kateeb<strong></strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/gd_images/LA_USA_TOURS_project_anim_v2.gif" data-fancybox="graphic_design" data-caption="LA USA Tours - Logo and Page Layout / Design services delivered in this project."><img src="images/gd_images/gd_thumbs/LA_TOURS_logo_thumb.png"></a>
          <figcaption>LA USA Tours - <strong>GD Services</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/gd_images/HCL_BCK_COVR.jpg" data-fancybox="graphic_design" data-caption="HubCity Live! - Back Cover Design for Finacial Deck for the HCL Project."><img src="images/gd_images/gd_thumbs/HCL_BCK_COVR_thumb.png"></a>
          <figcaption>HCL - <strong>Page Design</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/gd_images/HCL_poster_innovation_conf.jpg" data-fancybox="graphic_design" data-caption="HubCity Live! - Graphic for the HCL Innovation Conference"><img src="images/gd_images/gd_thumbs/HCL_poster_innovation_conf_thumb.png"></a>
          <figcaption>HCL - <strong>Poster Design</strong></figcaption>
        </figure>
        <figure class="columns four"><a href="images/gd_images/HCL_Compton_Ready_Promo_rs.jpg" data-fancybox="graphic_design" data-caption="HubCity Live! - Graphic for the HCL 'Compton is Ready' campaign"><img src="images/gd_images/gd_thumbs/HCL_Compton_Ready_Promo_rs_thumb.png"></a>
          <figcaption>HCL - <strong>Poster Design</strong></figcaption>
        </figure>
        <img src="images/space_lines3.png" class="divider_img">
      </div>
      <div id="section_illustration_work"></div>
      <p class="section_title_txt">Illustration</p>
      <!-- <hr> -->
      <p class="section_nfo">
        The love of drawing has been with me a long time. There is something appealing about creating with a simple motion of the hand and
        drawing instrument that inspires me. Whether it is with a pencil, stylus, or a mouse, I like to draw.
      </p>
      <!-- <hr> -->
      <div class="gallery_images">
        <figure class="columns four">
          <a href="images/illio_images/Floating_Base.jpg" data-fancybox="illustration" data-caption="One of images that I produced with Illustrator...many moons ago.">
            <img src="images/illio_images/illio_thumbs/Floating_Base_thumb.png">
          </a>
          <figcaption>Illustration - <strong>The Beginning</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/illio_images/scifi_landscape.jpg" data-fancybox="illustration" data-caption="StarHero - ">
            <img src="images/illio_images/illio_thumbs/scifi_landscape_thumb.png">
          </a>
          <figcaption>StarHero - <strong>Concept Art</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/illio_images/StarHero_Starship.gif" data-fancybox="illustration" data-caption="StarHero - ">
            <img src="images/illio_images/illio_thumbs/StarHero_Starship_color_thumb.png">
          </a>
          <figcaption>StarHero - <strong>Concept Art</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/illio_images/SciFiHero_robots_B.jpg" data-fancybox="illustration" data-caption="StarHero - ">
            <img src="images/illio_images/illio_thumbs/SciFiHero_robots_B_thumb.png">
          </a>
          <figcaption>StarHero - <strong>Concept Art</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/illio_images/SciFiHero_robots_A_alt.jpg" data-fancybox="illustration" data-caption="StarHero - ">
            <img src="images/illio_images/illio_thumbs/SciFiHero_robots_A_alt_thumb.png">
          </a>
          <figcaption>StarHero - <strong>Concept Art</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="images/illio_images/the_atlantean_rs.jpg" data-fancybox="illustration" data-caption="The Atlantean - ">
            <img src="images/illio_images/illio_thumbs/the_atlantean_rs_thumb.png">
          </a>
          <figcaption>The Atlantean <strong></strong></figcaption>
        </figure>
        <img src="images/space_lines2.png">
      </div>
      <div id="section_creative_explorations"></div>
      <p class="section_title_txt">Creative Explorations</p>
      <!-- <hr> -->
      <p class="section_nfo">
        When time permits, I like to create with no aim in mind. Sometimes, fun and wonderful
        ideas grow from these explorations. Here are a few works still in progress.
        These Videos are very short, at most 1.5 minutes in length.
      </p>
      <p><strong>&#9733; Coming Soon &#9733;</strong></p>
      <p>Each of these projects will have a dedicated page.</p>
      <!-- <hr> -->
      <div class="gallery_images">
        <figure class="columns four">
          <a href="/starhero" data-caption="Personal Project: StarHero" target="_blank">
            <img src="images/temp_img_rs.jpg">
          </a>
          <figcaption>StarHero - <strong>Coming Soon...</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="/castor" data-caption="Personal Project: Castor" target="_blank">
            <img src="images/temp_img_rs.jpg">
          </a>
          <figcaption>Castor - <strong>Coming Soon...</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="/nim" data-caption="Personal Project: Nim" target="_blank">
            <img src="images/temp_img_rs.jpg">
          </a>
          <figcaption>Nim - <strong>Coming Soon...</strong></figcaption>
        </figure>
      </div>
      <div class="gallery_images">
        <figure class="columns four">
          <a href="https://www.youtube.com/watch?v=tzmJC6PsqYE" data-fancybox="creative_explorations" data-caption="After Effects Exploration: Playing around with a story idea centering around a kid with their grandparent, hiding out on a desolate planet.">
            <img src="images/creative_explorations/c_exp_thumbs/starhero_thumb.png">
          </a>
          <figcaption>StarHero - <strong>AE Exploration</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="https://www.youtube.com/watch?v=9sDCFyeX3U0" data-fancybox="creative_explorations" data-caption="After Effects Exploration: Inspired by the works of a particular anime master, I crafted this little scene.">
            <img src="images/creative_explorations/c_exp_thumbs/castor_thumb.png">
          </a>
          <figcaption>Castor - <strong>AE Exploration</strong></figcaption>
        </figure>
        <figure class="columns four">
          <a href="https://www.youtube.com/watch?v=D8AnbkEBdzU" data-fancybox="creative_explorations" data-caption="After Effects Exploration: Remembering a time when I believe in mystical forest creatures...been watching a lot of 'The Dark Crystal' lately.">
            <img src="images/creative_explorations/c_exp_thumbs/nim_thumb.png">
          </a>
        <figcaption>Nim - <strong>AE Exploration</strong></figcaption>
        </figure>
        <img src="images/space_lines2.png">
      </div>
    </article>
<!--     <div id="parallax_port_2">
      <div class="layer" data-depth="0.00"><img src="images/viewport_parallax_2/vplax2_layer_0.png" alt="star_field" id="vp2_star_field"></div>
      <div class="layer" data-depth="0.025"><img src="images/viewport_parallax_2/vplax2_layer_point5.png" alt="star_field" id="vp2_star"></div>
      <div class="layer" data-depth="0.05"><img src="images/viewport_parallax_2/vplax2_layer_1.png" alt="small planet" id="vp2_planet1"></div>
      <div class="layer" data-depth="0.05"><img src="images/viewport_parallax_2/vplax2_layer_1b.png" alt="asteriods set 1" id="vp2_asteroids1"></div>
      <div class="layer" data-depth="0.20"><img src="images/viewport_parallax_2/vplax2_layer_2.png" alt="medium planet" id="vp2_planet2"></div>
      <div class="layer" data-depth="0.25"><img src="images/viewport_parallax_2/vplax2_layer_2b.png" alt="asteriods set 2" id="vp2_asteroids2"></div>
      <div class="layer" data-depth="0.30"><img src="images/viewport_parallax_2/vplax2_layer_3.png" alt="large planet" id="vp2_planet3"></div>
      <div class="layer" data-depth="0.40"><img src="images/viewport_parallax_2/vplax2_layer_3a.png" alt="asteriods set 3" id="vp2_asteroids3"></div>
      <div class="layer" data-depth=".50"><img src="images/viewport_parallax_2/vplax2_layer_3b.png" alt="spaceship 1" id="spaceship1"></div>
      <div class="layer" data-depth=".70"><img src="images/viewport_parallax_2/vplax2_layer_3c.png" alt="spaceship 2" id="spaceship2"></div>
      <div class="layer" data-depth="1"><img src="images/viewport_parallax_2/vplax2_layer_4.png" alt="spaceship 3" id="spaceship3"></div>
      <div class="layer" data-depth="0.00"><img src="images/viewport_parallax_2/vplax2_layer_5.png" alt="control display" id="control_display"></div>
    </div> -->
  <footer>
    <div class="footer_content">
      <div id="section_contact"></div>
      <div id="parallax_port">
        <div class="layer" data-depth="0.00">
          <img src="images/viewport_parallax/viewport_layer_0.png" alt="star_field" id="star_field">
        </div>
        <div class="layer" data-depth="0.05">
          <img src="images/viewport_parallax/viewport_layer_1.png" alt="star" id="star">
        </div>
        <div class="layer" data-depth="0.20">
          <img src="images/viewport_parallax/viewport_layer_2.png" alt="moon_1" id="moon_1">
        </div>
        <div class="layer" data-depth="0.30">
          <img src="images/viewport_parallax/viewport_layer_3.png" alt="planet" id="planet">
        </div>
        <div class="layer" data-depth="0.70">
          <img src="images/viewport_parallax/viewport_layer_3C.png" alt="planet" id="in_view_asteroids">
        </div>
        <div class="layer" data-depth="0.90">
          <img src="images/viewport_parallax/viewport_layer_4.png" alt="moon_2" id="moon_2">
        </div>
        <div class="layer" data-depth="1">
          <img src="images/viewport_parallax/viewport_layer_3C2.png" alt="planet" id="in_view_asteroids2">
        </div>
        <div class="layer" data-depth="0.00">
          <img src="images/viewport_parallax/viewport_layer_5.png" alt="spaceship_port_window" id="port_window" style="width: 150%;">
        </div>
      </div>
      <div class="footer_columns" id="footer_column1">
        <ul>
          <strong>CONTACT ME</strong>
          <li><a href="mailto:jas.sandmaster@gmail.com" class="info_link">jas.sandmaster@gmail.com</a></li>
          <br>
          <strong>ADDITIONAL NFO</strong>
          <li>
            <a href="images/contact_images/JamesSanders_Resume_landscapeRS.jpg" data-fancybox="my_resume" data-caption="Current Resume Landscape Composition">View Landscape Resume</a>
          </li>
          <li>
            <a href="images/contact_images/JamesSanders_Resume_portraitRS.jpg" data-fancybox="my_resume" data-caption="Current Resume Portrait Compostion">View Portrait Resume</a>
          </li>
          <li>
            <a href="images/contact_images/JamesSanders_Resume_WebDev.pdf" data-fancybox="my_resume" data-caption="Current Resume Traditional Format">View Tradtional Resume</a>
          </li>
          <li>
            <a href="images/contact_images/JamesSanders_Resume_WebDev.pdf"  data-caption="Current Resume Traditional Format">(right-click to download)</a>
          </li>
        </ul>
      </div>
      <div class="footer_columns" id="footer_column2">
        <ul>
          <strong>FIND ME ON</strong>
          <li>
            <a href="https://www.linkedin.com/in/jim-sanders-10739495">Linkedin</a>
          </li>
          <li>
            <a href="https://github.com/jas112">GitHub</a>
          </li>
          <li>
            <a href="https://cargocollective.com/TrippSanders">Cargo Collective</a>
          </li>
        </ul>
      </div>
      <div class="tripp_logo_outline"></div>
    </div>
  </footer>
</section>
<div class="parallaxFrame">
  <img src="images/asteroids_outer.png" alt="asteroids3" class="frameImage" id="asteroids3">
</div>
<!-- <div class="asteroids3"></div> -->
  <nav id="pageNavigation">
    <div id="navigationConsole">
<!--       <li>
        <strong class="navbar_title">NAV <span id="navBarDivider">|</span> BAR</strong><span class="link_caption" id="lcap_1">TOP</span>
      </li> -->
<!--       <li>
        <span class="link_caption" id="lcap_1">TOP</span>
        <span class="link_caption" id="lcap_2">ABOUT</span>
        <span class="link_caption" id="lcap_3">WEB DEVELOPMENT</span>
        <span class="link_caption" id="lcap_4">GRAPHIC DESIGN</span>
        <span class="link_caption" id="lcap_5">ILLUSTRATION</span>
        <span class="link_caption" id="lcap_6">CREATIVE EXPLORATIONS</span>
        <span class="link_caption" id="lcap_7">CONTACT</span>
      </li> -->
      <li >
        <a href="#section_top" id="nlink_1" onclick="$('#section_top').animatescroll({scrollSpeed:2000,easing:'easeOutQuint'});">
          <div class="navigationButton"></div>
        </a>
        <!-- <span class="link_caption" id="lcap_1">TOP</span> -->
      </li>
      <li >
        <a href="#section_profile" id="nlink_2" onclick="$('#section_profile').animatescroll({scrollSpeed:2000,easing:'easeOutQuint'});">
          <div class="navigationButton"></div>
        </a>
        <!-- <span class="link_caption" id="lcap_2">ABOUT</span> -->
      </li>
      <li >
        <a href="#section_web_development_work" id="nlink_3" onclick="$('#section_web_development_work').animatescroll({scrollSpeed:2000,easing:'easeOutQuint'});">
          <div class="navigationButton"></div>
        </a>
        <!-- <span class="link_caption" id="lcap_3">WEB DEVELOPMENT</span> -->
      </li>
      <li >
        <a href="#section_graphic_design_work" id="nlink_4" onclick="$('#section_graphic_design_work').animatescroll({scrollSpeed:2000,easing:'easeOutQuint'});">
          <div class="navigationButton"></div>
        </a>
        <!-- <span class="link_caption" id="lcap_4">GRAPHIC DESIGN</span> -->
      </li>
      <li >
        <a href="#section_illustration_work" id="nlink_5" onclick="$('#section_illustration_work').animatescroll({scrollSpeed:2000,easing:'easeOutQuint'});">
          <div class="navigationButton"></div>
        </a>
        <!-- <span class="link_caption" id="lcap_5">ILLUSTRATION</span> -->
      </li>
      <li >
        <a href="#section_creative_explorations" id="nlink_6" onclick="$('#section_creative_explorations').animatescroll({scrollSpeed:2000,easing:'easeOutQuint'});">
          <div class="navigationButton"></div>
        </a>
        <!-- <span class="link_caption" id="lcap_6">CREATIVE EXPLORATIONS</span> -->
      </li>
      <li >
        <a href="#section_contact" id="nlink_7" onclick="$('#section_contact').animatescroll({scrollSpeed:2000,easing:'easeOutQuint'});">
          <div class="navigationButton"></div>
        </a>
        <!-- <span class="link_caption" id="lcap_7">CONTACT</span> -->
      </li>
    </div>
  </nav>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script> -->
  <script type ="text/javascript" src="js/animatescroll.js"></script>
  <!-- <script type ="text/javascript" src="js/parallax_functions.js"></script> -->
  <script type ="text/javascript" src="js/parallax_functions10182017.js"></script>
  <!-- <script type="text/javascript" src="js/scrollingNavigation.js"></script> -->
  <!-- <script type="text/javascript" src="js/jquery.combinedScroll.js"></script> -->
  <script type ="text/javascript" src="js/parallax.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
    <!-- FancyBox -->
  <script type ="text/javascript">
    $(document).ready(function(){
      $('body').animatescroll();
      // $('.page-navigation').onePageNav();
      $('.fancybox').fancybox({
        'titlePosition'   : 'outside',
        'overlayColor'    : '#000',
        'overlayOpacity'  : 0.9
      });
      $('[data-fancybox]').fancybox({
        image : {
          protect: true
        }
      });
      var scene = $('#parallax_port').get(0);
      var parallax = new Parallax(scene);
      // var scene2 = $('#parallax_port_2').get(0);
      // var parallax2 = new Parallax(scene2); 
    });   
  </script>
  </body>
</html>
