*{
  /*outline: 1px dotted red;*/
}

@-webkit-keyframes pulse {
 0%      {-webkit-transform: scale(1, 1);}
 50%     {-webkit-transform: scale(1.1, 1.1);}
 100%    {-webkit-transform: scale(1, 1);}
}

@keyframes pulse {
 0%      {transform: scale(1, 1);}
 50%     {transform: scale(1.1, 1.1);}
 100%    {transform: scale(1, 1);}
}

@media only screen and (max-width: 480px){

  body{
    height: 700px;
  }

  #tripp_world{height: 1000px;}

  .asteroids{height: 3600px;bottom: 3000px;}
  .planets_one{height: 4000px;bottom: 10350px;}
  .tripp_logo{height: 4000px;bottom: 14450px;}
  .space_lines{bottom: 17950px;}
  .planets_two{height: 4000px;bottom: 22250px;}
  .asteroids2A{height: 3600px;bottom: 26200px;}
  .asteroids2B{height: 3600px;bottom: 29790px;}
  .asteroids3{height: 3600px;bottom: 11400px;z-index: 100;}

  .tripp_figure{position: relative;bottom: 6750px;}

  p{font-size: .80rem;}
  .content article{
    padding: 100px 0;
    max-width: 300px;
    margin: 0 auto;
    position: relative;
    left: 10px;
    text-align: center;
  }
  .section_title_txt{font-size: 1.5rem; font-weight: bold;}
  .section_nfo{font-size: .85rem;}
  .screenshots_txt{font-size: 1.0rem;}
  .project_title_txt{font-weight: bold; font-size: 1.2rem;}
  nav.page-navigation{width: 10px; padding-left: 5px;}
  #navigation a{font-size: 1.9rem;}
  #profile_title{height: 100px; background-size: 90% auto;}
  #project1_title{height: 130px; background-size: 85% auto;}
  #project2_title{height: 150px; background-size: 80% auto;}
  #project3_title{height: 120px; background-size: 80% auto;}
  #project4_title{height: 120px; background-size: 80% auto;}
  #project5_title{height: 120px; background-size: 80% auto;}
  #parallax_port{height: 240px;}

  .link_caption{
    position: relative;
    top: 18px;
    right: 20px;
    color: #00BDFD;
    font-size: .1rem;
    font-weight: bold;
    vertical-align: top;
    opacity: 0;
  }

  .tripp_logo_outline{
    margin: 0 auto;
    max-width: 700px;
    height: 240px;
    background-image: url(/images/tripp_logo_outline.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 75% auto;
    position: relative;
  }

  #parallax_port_2{
    position: relative;
    top: -20px;
    left: 0px;
    padding: 0px;
    max-width: 290px;
    margin: 0 auto;
    text-align: center;
  }

  #parallax_port{
    margin: 0 auto;
    text-align: center;
    padding: 0px;
    position: relative;
    max-width: 290px;
    overflow: hidden;
  }

}

@media only screen and (min-width: 481px){

  body{
    height: 10000px;
  }

  .asteroids{height: 3600px;position: relative;bottom: 3000px;}
  .planets_one{height: 4000px;position: relative;bottom: 9850px;}
  .tripp_logo{height: 4000px;position: relative;bottom: 13850px;}
  .space_lines{bottom: 16650px;}
  .planets_two{height: 4000px;position: relative;bottom: 21450px;}
  .asteroids2A{height: 3600px;bottom: 25200px;}
  .asteroids2B{height: 3600px;bottom: 29200px;}
  .asteroids3{height: 3600px;position: relative;bottom: 6800px;z-index: 100;}

  #tripp_world{
    height: 2000px;
  }

  .tripp_figure{position: relative; bottom: 6850px;}

  p{font-size: 1.0rem;}
  .content article{
    padding: 100px 0;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  .section_title_txt{font-size: 2.5rem; font-weight: bold;}
  .section_nfo{font-size: 1.05rem;}
  .screenshots_txt{font-size: 1.2rem;}
  .project_title_txt{font-weight: bold; font-size: 1.3rem;}
  nav.page-navigation{width: 50px; padding-left: 10px;}
  #navigation a{font-size: 2.5rem;}
  #profile_title{height: 200px; background-size: 70% auto;}
  #project1_title{height: 160px; background-size: 75% auto;}
  #project2_title{height: 180px; background-size: 60% auto;}
  #project3_title{height: 140px; background-size: 60% auto;}
  #project4_title{height: 120px; background-size: 80% auto;}
  #project5_title{height: 180px; background-size: 80% auto;}
  #parallax_port{height: 365px;}

  .link_caption{
    position: relative;
    top: 23px;
    right: 20px;
    color: #00BDFD;
    font-size: .7rem;
    font-weight: bold;
    vertical-align: top;
    opacity: 0;
  }

  .tripp_logo_outline{
    margin: 0 auto;
    max-width: 700px;
    height: 240px;
    background-image: url(/images/tripp_logo_outline.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 80% auto;
    position: relative;
  }

  #parallax_port_2{
    position: relative;
    top: -20px;
    left: 0px;
    padding: 0px;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
  }

  #parallax_port{
    margin: 0 auto;
    text-align: center;
    padding: 0px;
    position: relative;
    max-width: 450px;
    overflow: hidden;
  }

}

@media only screen and (min-width: 1024px){

  body{height: 10000px;}

  #tripp_world{height: 2500px;}

  .asteroids{height: 3600px;position: relative;bottom: 3000px;}
  .planets_one{height: 4000px;position: relative;bottom: 9850px;}
  .tripp_logo{height: 4000px;position: relative;bottom: 13850px;}
  .space_lines{bottom: 16650px;}
  .planets_two{height: 4000px;position: relative;bottom: 21175px;}
  .asteroids2A{height: 3600px;bottom: 25200px;}
  .asteroids2B{height: 3600px;bottom: 29200px;}
  .asteroids3{height: 3600px;position: relative;bottom: 6800px;z-index: 100;}

  .tripp_figure{
    height: 4000px;
    background-image: url(/images/tripp_figure_comp_alt.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 85% auto;
    position: relative;
    bottom: 6850px;
  }

    p{font-size: 1.1rem;}
    .content article{
      padding: 100px 0;
      max-width: 700px;
      margin: 0 auto;
      text-align: center;
    }
    .section_title_txt{font-size: 2.6rem; font-weight: bold;}
    .section_nfo{font-size: 1.15rem;}
    .screenshots_txt{font-size: 1.3rem;}
    .project_title_txt{font-weight: bold; font-size: 1.4rem;}
    nav.page-navigation{width: 223px; padding-left: 15px;}
    #navigation a{font-size: 2.3rem;}
    #profile_title{height: 240px; background-size: 90% auto;}
    #project1_title{height: 200px; background-size: 95% auto;}
    #project2_title{height: 220px; background-size: 80% auto;}
    #project3_title{height: 180px; background-size: 80% auto;}
    #project4_title{height: 180px; background-size: 80% auto;}
    #project5_title{height: 250px; background-size: 80% auto;}
    #parallax_port{height: 380px;}

    .link_caption{
      position: relative;
      top: 18px;
      right: 20px;
      color: #00BDFD;
      font-size: 1.5rem;
      font-weight: bold;
      vertical-align: top;
      opacity: 0;
    }

    #nlink_1:hover + #lcap_1{opacity: 1;}
    #nlink_2:hover + #lcap_2{opacity: 1;}
    #nlink_3:hover + #lcap_3{opacity: 1;}
    #nlink_4:hover + #lcap_4{opacity: 1;}
    #nlink_5:hover + #lcap_5{opacity: 1;}
    #nlink_6:hover + #lcap_6{opacity: 1;}
    #nlink_7:hover + #lcap_7{opacity: 1;}

    .tripp_logo_outline{
      margin: 0 auto;
      max-width: 700px;
      height: 240px;
      background-image: url(/images/tripp_logo_outline.png);
      background-repeat: no-repeat;
      background-position: top center;
      background-size: 100% auto;
      position: relative;
    }

    #parallax_port_2{
      position: relative;
      top: -20px;
      left: 0px;
      padding: 0px;
      max-width: 900px;
      margin: 0 auto;
      text-align: center;
    }

    #parallax_port{
      margin: 0 auto;
      text-align: center;
      padding: 0px;
      position: relative;
      max-width: 900px;
      overflow: hidden;
    }

  }

html{
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body{
  font-family: 'Play', sans-serif;
  background-color: black;
}

h1{
  color: #ccc;
  weight: 300;
  font-size: 50px
}

figure{
  margin: auto;
}

section{
  margin: 0px;
}

.content{
  background-color: black;
  color: white;
  position: relative;
  z-index: 2;
  margin-bottom: 100px

}

.skills_columns{
  vertical-align: top;
  display: inline-block;
  margin-left: 10px;
  padding: 0px;
}

.skills_columns ul{
  list-style: none;
  list-style-image: none;
}

.skills_columns li{
  margin-top: 6px;
}

.skills_section{
  position: relative;
  right: 40px;
  margin: 0 ;
  text-align: center;
}

#skills_section_title{
  position: relative;
  top: 50px;
  margin: 0px;
}

.skills_title{
  border-bottom: 1px dotted white;
}

img{
  max-width: 100%;
}

/*Parallax*/

#tripp_world{
  position: relative;
  background-image: url(/images/star_field_bg2.png);
  background-size: auto 1200px;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden;
  padding: 0px;
  z-index: 3;
}

.stars_iso{
  height: 3200px;
  background-image: url(/images/star_field1C.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 75%;
  position: relative;
}

.asteroids{
  height: 3600px;
  background-image: url(/images/asteroids_1CRV2.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  position: relative;
}

.tripp_figure{
  height: 4000px;
  background-image: url(/images/tripp_figure_compLrg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 85% auto;
}

.planets_one{
  height: 4000px;
  background-image: url(/images/planets_1C.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 85% auto;
  position: relative;
}

.tripp_logo{
  height: 4000px;
  background-image: url(/images/trippLogoRevisedRRes4.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  position: relative;
}

.space_lines{
  height: 4000px;
  background-image: url(/images/space_lines.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  position: relative;
}

.planets_two{
  height: 4000px;
  background-image: url(/images/planets_2C.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 75% auto;
  position: relative;
}

.asteroids2A{
  height: 3600px;
  background-image: url(/images/asteroids_2C.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 80% auto;
  position: relative;
  z-index: 5;
}

.asteroids2B{
  height: 3600px;
  background-image: url(/images/asteroids_3C.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 80% auto;
  position: relative;
  z-index: 5;
}

.asteroids3{
  height: 3600px;
  background-image: url(/images/asteroids_4C.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 110% auto;
  position: relative;
  z-index: 100;
}

.section_title{
  margin: 0px;
  background-repeat: no-repeat;
  background-position: top center;
}

.section_nfo{
  text-align: left;
}

#profile_title{
  background-image: url(/images/animatedTripp.gif);
}

#project1_title{
  background-image: url(/images/webdev_projects/byfn_comics_title_web.png);
}

#project2_title{
  background-image: url(/images/webdev_projects/soap_box_title.png);
}

#project3_title{
  background-image: url(/images/webdev_projects/operation_drebbel_title.png);
  /*outline: 1px solid yellow;*/
}

#project4_title{
  background-image: url(/images/webdev_projects/blackbacklight_title.png);
  /*outline: 1px solid yellow;*/
  background-size: 100% auto;
}

#project4SMFace{
  width: 35%;
  height: auto;
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
}

#project5_title{
  background-image: url(/images/webdev_projects/algo_app_title.png);
  /*outline: 1px solid yellow;*/
  background-size: 100% auto;
}

#gdesign_link{
  font-size: 17px;
  text-decoration: none;
  color: #76A4CB;
}

#gdesign_link:hover{
color: #00BDFD;
}

.page_link{
  text-decoration: none;
  color: orange;
}

.page_link:hover{
  color: yellow;
}


/*Image Grid*/

.gallery_images {
  margin-bottom: 30px;
}
.gallery_images figure {
  margin-left: 10px;
  margin-bottom: 20px;
  position: relative;
  opacity: 0;
  transform: translateX(30px);
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
}

/*.projectImagethumb{
  overflow: hidden;
}

.projectImagethumb:hover{
  transform: scale(1.1);
}*/

.gallery_images figure.is-showing {
  opacity: 1;
  transform: translateX(0px);
}
.gallery_images figure img {
  display: block;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.gallery_images figure:hover figcaption {
  left: 0%;
}
.gallery_images figure:hover img {
  transform: scale(1.1);
}
.gallery_images figcaption {
  position: absolute;
  bottom: 10px;
  left: -100%;
  background: black;
  color: white;
  padding: 2px 8px;
  font-size: 11px;
  transition: all 0.3s ease-in-out;
}

/*Footer*/

footer{
  margin: 0 auto;
  background: black;
  color: white;
  padding: 10px 0px;
  position: relative;
  top: 100px;
  width: 100%;
}

footer ul{
  list-style: none;
  list-style-image: none;
  max-width: 100%;
  margin: 0px;
}

footer li{
  margin-top: 5px;
}

footer a{
  font-size: 17px;
  text-decoration: none;
  color: orange;
}

footer a:hover{
  color: yellow;
}

footer strong{
  margin-top: 5px;
}

#footer_column1{
  margin: 0 auto;
  position: relative;
  width: 264px;
  text-align: left;
  padding-right: 40px;
  /*right: 70px;*/
}

#footer_column2{
  margin: 0 auto;
  position: relative;
  width: 264px;
  text-align: right;
  padding-right: 40px;
  /*right: 90px;*/
}

.info_link{
  font-weight: 500;
}

.footer_content{
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  margin: 0px auto;
}

.footer_columns{
  max-width: 350px;
  /*padding: 9px 9px;*/
  /*text-align: center;*/
  margin: 0 auto;
  vertical-align: top;
  display: inline-block;
  padding-top: 3px;
}

.menu{
  margin-top: 30px;
}

nav.page-navigation{
  margin-top: 0px;
  margin-left: 3px;
  margin-bottom: 0px;
  color: #ccc;
  position: fixed;
  left: 5%;
  top: 10%;
  left: 0;
  z-index: 999;
}

#navigation{
  text-align: center;
  margin-left: 0px;
  padding-left: 0px;
  padding-top: 0px;
  list-style: none;
  z-index: 10;
}

#navigation a{
  text-align: center;
  margin: 0px;
}

.navbar_title{
  text-align: left;
}

#navBarDivider{
  font-family: bold;
  font-size: 18px;
}

nav.page-navigation li{
  text-align: center;
  padding-left: 0px;
  text-align: left;
  width: 100%;
  margin-top: 10px;
  display: inline-block;
}

nav.page-navigation a{
  text-align: left;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  padding: 0.6em  10%;
  width: 80%;
}

.link_caption{
  font-size: .6em;
}

nav.page-navigation .current a{
  color: #5C9AD2;
}

nav.page-navigation a:hover{
  color: #00BDFD;
  transform: scale(2, 2);
}

.deep_space_console{
  color: white;
  position: relative;
  top: 760px;
  padding: 100px 0;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  z-index: 10;
}

#star_field{
  width: 100%;
  position: relative;
}

#star{
  width: 100%;
  position: relative;
}

#moon_1{
  width: 100%;
  position: relative;
}

#planet{
  width: 100%;
  position: relative;
}

#in_view_asteroids{
  width: 100%;
  position: relative;
}

#moon_2{
  width: 115%;
  position: relative;
  right: 95px;
  top: 40px;
}

#in_view_asteroids2{
  width: 115%;
  position: relative;

}

#port_window{
  width: 100%;
  position: relative;
  top: 10px;
}

#parallax_port img{
  max-width: 100%;
}
